In [ ]:
import pandas as pd
import numpy as np
import traceback
from sqlalchemy import create_engine

In [ ]:
engine_dw = create_engine('postgresql://colsmart_prod_indicadores:Q84Mr5P4dfc@172.19.1.61:5432/egdb_colsmart_prod')

In [ ]:
excel_path = "data/Reglas_V1.3.xlsx"
tipo = "1. Administrativo"
df = pd.read_excel(excel_path, sheet_name=tipo,  dtype={'Item': str})
df['tipo'] = tipo
df.columns= df.columns.str.lower().str.replace(" ", "_")
df.columns = df.columns.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
df.head()

In [ ]:
df.to_sql('consistencia_reglas', con=engine_dw,  if_exists='append', schema="colsmart_prod_indicadores", index=False)

In [ ]:

tipo = "2. Jurídico"
df = pd.read_excel(excel_path, sheet_name=tipo,  dtype={'Item': str})
df['tipo'] = tipo
df.columns= df.columns.str.lower().str.replace(" ", "_")
df.columns = df.columns.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
df.head()

In [ ]:
df.to_sql('consistencia_reglas', con=engine_dw,  if_exists='append', schema="colsmart_prod_indicadores", index=False)

In [ ]:
tipo = "3. Fisico"
df = pd.read_excel(excel_path, sheet_name=tipo,  dtype={'Item': str})
df['tipo'] = tipo
df.columns= df.columns.str.lower().str.replace(" ", "_")
df.columns = df.columns.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
#f.rename(columns = {'modelo_ilc_1.0':'descripcion'}, inplace = True)
df.head()

In [ ]:
df.to_sql('consistencia_reglas', con=engine_dw,  if_exists='append', schema="colsmart_prod_indicadores", index=False)

In [ ]:
tipo = "4. Economico"
df = pd.read_excel(excel_path, sheet_name=tipo,  dtype={'Item': str})
df['tipo'] = tipo
df.columns= df.columns.str.lower().str.replace(" ", "_")
df.columns = df.columns.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
#df.rename(columns = {'modelo_ilc_1.0':'descripcion'}, inplace = True)
df.head()

In [ ]:
df.to_sql('consistencia_reglas', con=engine_dw,  if_exists='append', schema="colsmart_prod_indicadores", index=False)

In [ ]:

tipo = "5. Topologica"
df = pd.read_excel(excel_path, sheet_name=tipo,  dtype={'Item': str})
df['tipo'] = tipo
df.columns= df.columns.str.lower().str.replace(" ", "_").str.replace("/", "")
df.columns = df.columns.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
#df.rename(columns = {'clase_1':'clases_asociadas'}, inplace = True)
#df.rename(columns = {'clase_2':'clases_asociadas_2'}, inplace = True)
#df.rename(columns = {'observacion_complemento':'regla_lenguaje_tecnico_ilc'}, inplace = True)
df.head()

In [ ]:
df.to_sql('consistencia_reglas', con=engine_dw,  if_exists='append', schema="colsmart_prod_indicadores", index=False)

In [ ]:
tipo = "6. Geográfico"
df = pd.read_excel(excel_path, sheet_name=tipo,  dtype={'Item': str})
df['tipo'] = tipo
df.columns= df.columns.str.lower().str.replace(" ", "_").str.replace("/", "")
df.columns = df.columns.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
df.head()

In [ ]:
df.to_sql('consistencia_reglas', con=engine_dw,  if_exists='append', schema="colsmart_prod_indicadores", index=False)

In [ ]:
tipo = "7. Novedades"
df = pd.read_excel(excel_path, sheet_name=tipo,  dtype={'Item': str})
df['tipo'] = tipo
df.columns= df.columns.str.lower().str.replace(" ", "_").str.replace("/", "")
df.columns = df.columns.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
df.head()

In [ ]:
df.to_sql('consistencia_reglas', con=engine_dw,  if_exists='append', schema="colsmart_prod_indicadores", index=False)

In [ ]:

sql = '''
        select *
        from colsmart_prod_indicadores.consistencia_reglas
        order by tipo, item
        '''
# print(sql)
df = pd.read_sql_query(sql , con=engine_dw  )
df.head()

In [ ]:
df.to_excel("data/listado_consolidado_consistencia_reglas.xlsx", index=False)

## Reportes

In [39]:
excel_path = "data/reportes_listado corregido.xlsx"
tipo = "Reportes"
df = pd.read_excel(excel_path, sheet_name=tipo,  dtype={'Item': str})
df.columns= df.columns.str.lower().str.replace(" ", "_")
df.columns = df.columns.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
df.drop(columns=['valor'], inplace=True, errors='ignore')
df.head()

c:\apps\anaconda3\envs\scripting_igac\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Conditional Formatting extension is not supported and will be removed
  for idx, row in parser.parse():

,id,descripcion,reglas_de_validacion_afectadas
0,1,"Predios con condición NPH, Bien de uso público...",1.1
1,2,Sumatoria de todos los registros ilc_predio y ...,1.2
2,3,Total de predios,"1.3,1.4,1.10, 1.11,1.12,1.13,1.47,2.30,4.6"
3,4,Predios con condición PH matríz,"1.5,1.28,1.29,1.30,1.31,1.32,1.33"
4,5,Predios con condición PH Unidad predial,1.6

In [40]:
df.to_sql('consistencia_reportes', con=engine_dw,  if_exists='append', schema="colsmart_prod_indicadores", index=False)

79

In [41]:
df['reglas'] = df['reglas_de_validacion_afectadas'].str.split(",")
df_tags = df[["id", "reglas"]]
df_tags = df_tags.dropna(subset = ["reglas"], inplace=False)
df_tags.head()

   id                                             reglas
0   1                                              [1.1]
1   2                                              [1.2]
2   3  [1.3, 1.4, 1.10,  1.11, 1.12, 1.13, 1.47, 2.30...
3   4          [1.5, 1.28, 1.29, 1.30, 1.31, 1.32, 1.33]
4   5                                              [1.6]

In [42]:
df_tags['reglas'].apply(lambda x: isinstance(x, list)).all()

True

In [43]:
df_tags.tail()

    id                    reglas
74  75  [7.11, 7.12, 7.13, 7.14]
75  76  [7.15, 7.16, 7.17, 7.18]
76  77  [7.19, 7.20, 7.21, 7.22]
77  78                    [7.23]
78  79  [7.24, 7.25, 7.26, 7.27]

In [44]:
df_exploded = df_tags.explode('reglas').reset_index(drop=True)
df_exploded['reglas'] = df_exploded['reglas'].str.strip()
df_exploded.head(10)

   id reglas
0   1    1.1
1   2    1.2
2   3    1.3
3   3    1.4
4   3   1.10
5   3   1.11
6   3   1.12
7   3   1.13
8   3   1.47
9   3   2.30

In [45]:
df_exploded.rename(columns = {'id':'id_reporte'}, inplace = True)
df_exploded.rename(columns = {'reglas':'regla'}, inplace = True)
df_exploded.head()

   id_reporte regla
0           1   1.1
1           2   1.2
2           3   1.3
3           3   1.4
4           3  1.10

In [46]:
df_exploded.to_excel("data/listado_consolidado_reportes_reglas.xlsx", index=False)

In [47]:
df_exploded.to_sql('consistencia_reportes_reglas', con=engine_dw,  if_exists='append', schema="colsmart_prod_indicadores", index=False)

153